body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

header img {
    max-width: 200px;
}

#team {
    padding: 2rem 0;
    text-align: center;
}

#team h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.person {
    margin-bottom: 2rem;
}

.person img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.person h3 {
    margin: 1rem 0;
}

#about {
    background-color: #f9f9f9;
    padding: 2rem 30px;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

footer a:hover {
    text-decoration: underline;
}
